*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Ubuntu', sans-serif;
}
.main{
    width: 500px;
    margin: 20px auto 0;
}
.btn{
    width: 118px;
    height: 75px;
    line-height: 75px;
    background:#393d46;
    font-size:30px;
    margin:2px;
    border:none;
    color:#FFF;
    cursor:pointer;
}

.btn:hover{
    background:#31353d
}
.textview{
    width:486px;
    height: 50px;
    border:none;
    font-size:22px;
    padding:10px 5px;
    border:1px solid #DDD;
}
table{
    background:#393d46;
}
#eq{
    height:155px; 
    background:#e1733d;
}
.open{
    text-align: center
}
label{
    background: #E1733D;
    display: inline-block;
    padding: 20px;
    color: #FFF;
    cursor: pointer;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0px 0px 7px -2px #4e4d4d inset;
    transition: all 0.3s ease-in-out
}
label:hover{
    box-shadow: none
}

[type="checkbox"]{
    display: none;
} 

.history{
    position: absolute;
    top: 0;
    left: -100%;
    background: #393d46;
    font-size: 25px;
    color: #FFF;
    min-height: 100vh;
    transition: all 0.3s ease-in-out;   
}
[type="checkbox"]:checked + .history{
    left: 0;
}
.history h3{
    padding: 10px;
    text-transform: capitalize
}
.history ul.filter{
    padding: 20px;
    font-size: 15px;
    text-align: center
}
.history ul.filter li {
    display: inline-block;
    
}
.history ul.filter li button{
    background:#31353d;
    border: none;
    padding: 10px 15px;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 2px 2px 4px -2px #666;
    transition: all 0.3s ease-in-out;
}
.history ul.filter li:hover button{
    box-shadow: none
}
.history ul.historyList{
    
}
.history ul.historyList li{
    padding: 10px 20px;
    border-bottom: 1px solid #DDD;
}

.alert{
    background-color: #F00;
    padding: 5px;
    color: #FFF;
    text-align: center;
    border-radius: 3px;
    margin: 0 auto;
}