
	<div class="main">
    <form>
        <div *ngIf="invalidInput" class="alert">Invalid Input</div>
        <input (keypress)="onkeyDown()" [(ngModel)]="text"  name="textView" type="text" class="textview" id="textfield" autocomplete="off" placeholder="Enter A Number" autofocus>
    </form>
    <table>
        <tr>
            <td><input (click)="clear()" class="btn" type="button" value="C" id="clear"></td>
            <td><input (click)="removeLastChar()"class="btn" type="button" value="D" id="del"></td>
            <td><input (click)="setOpValue('/')" class="btn" type="button" value="/"></td>
            <td><input (click)="setOpValue('*')" class="btn" type="button" value="*"></td>
        </tr>
        <tr>
            <td><input (click)="setTextValue(7)" class="btn" type="button" value="7"></td>
            <td><input (click)="setTextValue(8)" class="btn" type="button" value="8"></td>
            <td><input (click)="setTextValue(9)" class="btn" type="button" value="9"></td>
            <td><input (click)="setOpValue('-')" class="btn" type="button" value="-"></td>
        </tr>
        <tr>
            <td><input (click)="setTextValue(4)" class="btn" type="button" value="4"></td>
            <td><input (click)="setTextValue(5)" class="btn" type="button" value="5"></td>
            <td><input (click)="setTextValue(6)" class="btn" type="button" value="6"></td>
            <td><input (click)="setOpValue('+')" class="btn" type="button" value="+"></td>
        </tr>
        <tr>
            <td><input (click)="setTextValue(1)" class="btn" type="button" value="1"></td>
            <td><input (click)="setTextValue(2)" class="btn" type="button" value="2"></td>
            <td><input (click)="setTextValue(3)" class="btn" type="button" value="3"></td>
            <td rowspan="2"><input (click)="calcualte()" class="btn" type="button" value="=" id="eq"></td>
        </tr>
        <tr>
            <td colspan="2"><input (click)="setTextValue(0)" class="btn" type="button" value="0" style="width:242px"></td>
            <td><input (click)="setDotValue()" class="btn" type="button" value="."></td>
        </tr>
    </table>
</div>
<div class="open">
  <label for="view">Show History</label>
</div>
<input type="checkbox" id="view">
<div class="history">
    <h3>filter history</h3>
    <ul class="filter">
        <li><button (click)="getAllOperations()">all</button></li>
        <li><button (click)="filterByOperation('+')">add</button></li>
        <li><button (click)="filterByOperation('-')">sub</button></li>
        <li><button (click)="filterByOperation('*')">mul</button></li>
        <li><button (click)="filterByOperation('/')">div</button></li>
    </ul>
    <ul class="historyList">
        <li *ngFor="let calculation of historyCalcs">{{calculation.calc}}</li>

    </ul>
</div>